@use 'lib' as *;

.account {
	$self: &;

	&_loan {
		.a-card {
			min-height: 160px;
		}
		#{$self}__swiper {
			.swiper-wrapper {
				@include media(">xs") {
					display: grid;
					grid-template-columns: repeat(3, 1fr) !important;
					gap: 32px;
					margin-bottom: 0;
				}
			}
		}
	}

	&_about {
		#{$self}__swiper {
			.swiper-wrapper {
				@include media(">xs") {
					display: grid;
					grid-template-columns: repeat(4, 1fr) !important;
					gap: 32px;
					margin-bottom: 0;
				}
			}
		}
	}

	&__container {}

	&__desc {
		margin-bottom: fluid(32px, 24px);
	}

	&__title {
		font-size: 36px;
		font-weight: 600;
		margin-bottom: 12px;

		@include media("<=xs") {
			margin-bottom: 24px;
		}
	}

	&__text {
		margin-bottom: fluid(32px, 24px);
	}

	&__swiper.swiper {
		.swiper-slide {
			@include media("<=xs") {
				height: auto;
			}
		}

		.swiper-wrapper {
			margin-bottom: 16px;

			@include media(">xs") {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: 32px;
				margin-bottom: 0;
			}

			@include media("<=md") {
				grid-template-columns: repeat(2, 1fr);
			}
		}

	}

}