<div class="modal modal_callback">
    <button type="button" class="modal__close"></button>
    <div class="modal__container">
        <div class="modal-callback">
            <h2 class="modal-callback__title">
                Оставьте заявку
            </h2>
            <p class="modal-callback__desc">
                Наш менеджер свяжется с вами в ближайшее время
            </p>
            <form class="modal-callback__form">
                <div class="modal-callback__labels">
                    <label class="modal-callback__label custom-label">
                        <h4 class="custom-label__title">Номер телефона</h4>
                        <div class="custom-input">
                            <input required placeholder="+7" type="tel">
                        </div>
                        <p class="custom-label__error">
                            Пример текста ошибки
                        </p>
                    </label>
                    <label class="modal-callback__label custom-label">
                        <h4 class="custom-label__title">Как к вам обращаться?</h4>
                        <div class="custom-input">
                            <input placeholder="Имя" type="text">
                        </div>
                        <p class="custom-label__error">
                            Пример текста ошибки
                        </p>
                    </label>
                    <label class="modal-callback__label custom-label">
                        <h4 class="custom-label__title">Ваш вопрос</h4>
                        <div class="custom-input">
                            <textarea placeholder="Сообщение"></textarea>
                        </div>
                        <p class="custom-label__error">
                            Пример текста ошибки
                        </p>
                    </label>
                </div>
                <button class="modal-callback__button button button-blue">Оставить заявку</button>
                <div class="modal-callback__agrees">
                    <label class="custom-agree calc__agree">
                        <input type="checkbox" class="custom-agree__input custom-checkbox">
                        <p class="custom-agree__text">
                            Я даю согласие на <a href="#">обработку персональных данных</a>. <br> Подтверждаю
                            ознакомление с <a href="#">пользовательским соглашением</a>
                        </p>
                    </label>
                    <label class="custom-agree calc__agree">
                        <input type="checkbox" class="custom-agree__input custom-checkbox">
                        <p class="custom-agree__text">
                            Я даю согласие на <a href="#">обработку персональных данных</a>. <br> Подтверждаю
                            ознакомление с <a href="#">пользовательским соглашением</a>
                        </p>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal modal_question">
    <button type="button" class="modal__close"></button>
    <div class="modal__container">
        <div class="modal-callback">
            <h2 class="modal-callback__title">
                Задайте ваш вопрос
            </h2>
            <p class="modal-callback__desc">
                Наш менеджер свяжется с вами в ближайшее время
            </p>
            <form class="modal-callback__form">
                <div class="modal-callback__labels">
                    <label class="modal-callback__label custom-label">
                        <h4 class="custom-label__title">Номер телефона</h4>
                        <div class="custom-input">
                            <input required placeholder="+7" type="tel">
                        </div>
                        <p class="custom-label__error">
                            Пример текста ошибки
                        </p>
                    </label>
                    <label class="modal-callback__label custom-label">
                        <h4 class="custom-label__title">Как к вам обращаться?</h4>
                        <div class="custom-input">
                            <input placeholder="Имя" type="text">
                        </div>
                        <p class="custom-label__error">
                            Пример текста ошибки
                        </p>
                    </label>
                    <label class="modal-callback__label custom-label">
                        <h4 class="custom-label__title">Ваш вопрос</h4>
                        <div class="custom-input">
                            <textarea placeholder="Сообщение"></textarea>
                        </div>
                        <p class="custom-label__error">
                            Пример текста ошибки
                        </p>
                    </label>
                </div>
                <button class="modal-callback__button button button-blue">Оставить заявку</button>
                <div class="modal-callback__agrees">
                    <label class="custom-agree calc__agree">
                        <input type="checkbox" class="custom-agree__input custom-checkbox">
                        <p class="custom-agree__text">
                            Я даю согласие на <a href="#">обработку персональных данных</a>. <br> Подтверждаю
                            ознакомление с <a href="#">пользовательским соглашением</a>
                        </p>
                    </label>
                    <label class="custom-agree calc__agree">
                        <input type="checkbox" class="custom-agree__input custom-checkbox">
                        <p class="custom-agree__text">
                            Я даю согласие на <a href="#">обработку персональных данных</a>. <br> Подтверждаю
                            ознакомление с <a href="#">пользовательским соглашением</a>
                        </p>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal modal_thanks">
    <button type="button" class="modal__close"></button>
    <div class="modal__container">
        <div class="modal-thanks">
            <img loading="lazy" src="./img/thanks-icon.webp" alt="" class="modal-thanks__icon">
            <h4 class="modal-thanks__title">Спасибо! Данные успешно отправлены</h4>
            <p class="modal-thanks__desc">Наш менеджер свяжется с вами в ближайшее время</p>
            <a href="#" class="modal-thanks__link">
                <span>Вернуться</span>
                <img src="./img/arrow-right.svg" alt="">
            </a>
        </div>
    </div>
</div>