<div class="modal modal_callback">
    <button type="button" class="modal__close"></button>
    <div class="modal__container">
        <div class="modal-callback">
            <h2 class="modal-callback__title">
                Оставьте заявку
            </h2>
            <p class="modal-callback__desc">
                Наш менеджер свяжется с вами в ближайшее время
            </p>
            <form class="modal-callback__form">
                <div class="modal-callback__labels">
                    <label class="modal-callback__label">
                        <h4 class="modal-callback__label-title">Номер телефона <span>*</span></h4>
                        <input placeholder="+7" type="tel" class="modal-callback__input">
                    </label>
                    <label class="modal-callback__label">
                        <h4 class="modal-callback__label-title">Как к вам обращаться</h4>
                        <input type="text" placeholder="Иван Иванов" class="modal-callback__input">
                    </label>
                    <label class="modal-callback__label">
                        <h4 class="modal-callback__label-title">Ваш вопрос</h4>
                        <textarea placeholder="Сообщение" class="modal-callback__textarea"></textarea>
                    </label>
                </div>
                <button class="modal-callback__button">Оставить заявку</button>
                <div class="modal-callback__agrees">
                    <label class="modal-callback__agree">
                        <input type="checkbox" class="modal-callback__agree-input">
                        <p class="modal-callback__agree-text">
                            Я даю согласие на обработку персональных данных. Подтверждаю ознакомление с пользовательским
                            соглашением
                        </p>
                    </label>
                    <label class="modal-callback__agree">
                        <input type="checkbox" class="modal-callback__agree-input" checked>
                        <p class="modal-callback__agree-text">
                            Я согласен(на) на информирование о продуктах, сервисах, услугах и акциях и передачу
                            соответствующих данных
                            лицам, указанным в перечне
                        </p>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal modal_callback">
    <button type="button" class="modal__close"></button>
    <div class="modal__container">
        <div class="modal-callback">
            <h2 class="modal-callback__title">
                Задайте ваш вопрос
            </h2>
            <p class="modal-callback__desc">
                Наш менеджер свяжется с вами в ближайшее время
            </p>
            <form class="modal-callback__form">
                <div class="modal-callback__labels">
                    <label class="modal-callback__label">
                        <h4 class="modal-callback__label-title">Номер телефона <span>*</span></h4>
                        <input placeholder="+7" type="tel" class="modal-callback__input">
                    </label>
                    <label class="modal-callback__label">
                        <h4 class="modal-callback__label-title">Как к вам обращаться</h4>
                        <input type="text" placeholder="Иван Иванов" class="modal-callback__input">
                    </label>
                    <label class="modal-callback__label">
                        <h4 class="modal-callback__label-title">Ваш вопрос</h4>
                        <textarea placeholder="Сообщение" class="modal-callback__textarea"></textarea>
                    </label>
                </div>
                <button class="modal-callback__button">Оставить заявку</button>
                <div class="modal-callback__agrees">
                    <label class="modal-callback__agree">
                        <input type="checkbox" class="modal-callback__agree-input">
                        <p class="modal-callback__agree-text">
                            Я даю согласие на обработку персональных данных. Подтверждаю ознакомление с пользовательским
                            соглашением
                        </p>
                    </label>
                    <label class="modal-callback__agree">
                        <input type="checkbox" class="modal-callback__agree-input" checked>
                        <p class="modal-callback__agree-text">
                            Я согласен(на) на информирование о продуктах, сервисах, услугах и акциях и передачу
                            соответствующих данных
                            лицам, указанным в перечне
                        </p>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal modal_thanks">
    <button type="button" class="modal__close"></button>
    <div class="modal__container">
        <div class="modal-thanks">
            <img loading="lazy" src="./img/thanks-icon.webp" alt="" class="modal-thanks__icon">
            <h4 class="modal-thanks__title">Спасибо! Данные успешно отправлены</h4>
            <p class="modal-thanks__desc">Наш менеджер свяжется с вами в ближайшее время</p>
            <a href="#" class="modal-thanks__link">
                <span>Вернуться</span>
                <img src="./img/arrow-right.svg" alt="">
            </a>
        </div>
    </div>
</div>