<section class="client @@if(this.class){@@class}">
    <div class="client__container container">
        <div class="client__top">
            <h2 class="client__title">Сколько денег уже получили <br> наши клиенты</h2>
            <div class="client__navigation custom-navigation">
                <button type="button"
                    class="client__navigation-btn custom-navigation__btn custom-navigation__btn_prev"></button>
                <button type="button"
                    class="client__navigation-btn custom-navigation__btn custom-navigation__btn_next"></button>
            </div>
        </div>
        <div class="client__swiper swiper">
            <div class="swiper-wrapper">
                <article class="client__item swiper-slide">
                    <img class="client__item-image" loading="lazy" src="img/reviewcamry.webp" alt="" />
                    <div class="client__item-head">
                        <h2 class="client__item-title">Toyota Camry 2018</h2>
                        <p class="client__item-desc">2,5 литра, АКПП, передний привод</p>
                    </div>
                    <div class="client__item-bottom">
                        <p class="client__item-label">Сумма</p>
                        <p class="client__item-price">1 254 000 ₽</p>
                        <p class="client__item-sum">Платёж: <span>32 000</span> ₽</p>
                    </div>
                </article>
                <article class="client__item swiper-slide">
                    <img class="client__item-image" loading="lazy" src="img/reviewcamry.webp" alt="" />
                    <div class="client__item-head">
                        <h2 class="client__item-title">Toyota Camry 2018</h2>
                        <p class="client__item-desc">2,5 литра, АКПП, передний привод</p>
                    </div>
                    <div class="client__item-bottom">
                        <p class="client__item-label">Сумма</p>
                        <p class="client__item-price">1 254 000 ₽</p>
                        <p class="client__item-sum">Платёж: <span>32 000</span> ₽</p>
                    </div>
                </article>
                <article class="client__item swiper-slide">
                    <img class="client__item-image" loading="lazy" src="img/reviewcamry.webp" alt="" />
                    <div class="client__item-head">
                        <h2 class="client__item-title">Toyota Camry 2018</h2>
                        <p class="client__item-desc">2,5 литра, АКПП, передний привод</p>
                    </div>
                    <div class="client__item-bottom">
                        <p class="client__item-label">Сумма</p>
                        <p class="client__item-price">1 254 000 ₽</p>
                        <p class="client__item-sum">Платёж: <span>32 000</span> ₽</p>
                    </div>
                </article>
                <article class="client__item swiper-slide">
                    <img class="client__item-image" loading="lazy" src="img/reviewcamry.webp" alt="" />
                    <div class="client__item-head">
                        <h2 class="client__item-title">Toyota Camry 2018</h2>
                        <p class="client__item-desc">2,5 литра, АКПП, передний привод</p>
                    </div>
                    <div class="client__item-bottom">
                        <p class="client__item-label">Сумма</p>
                        <p class="client__item-price">1 254 000 ₽</p>
                        <p class="client__item-sum">Платёж: <span>32 000</span> ₽</p>
                    </div>
                </article>
                <article class="client__item swiper-slide">
                    <img class="client__item-image" loading="lazy" src="img/reviewcamry.webp" alt="" />
                    <div class="client__item-head">
                        <h2 class="client__item-title">Toyota Camry 2018</h2>
                        <p class="client__item-desc">2,5 литра, АКПП, передний привод</p>
                    </div>
                    <div class="client__item-bottom">
                        <p class="client__item-label">Сумма</p>
                        <p class="client__item-price">1 254 000 ₽</p>
                        <p class="client__item-sum">Платёж: <span>32 000</span> ₽</p>
                    </div>
                </article>
            </div>
        </div>
</section>