<section class="faq @@if(this.class){@@class}">
  <div class="faq__main container">
    <h2 class="faq__title">Частые вопросы</h2>
    <div class="faq-spoilers accordeons">
      <div class="faq-spoilers__item accordeons__item">
        <button type="button" class="faq-spoilers__button accordeons__item-button">
          <span>Есть ли возможность погасить займ досрочно и без процентов?</span>
        </button>
        <div class="faq-spoilers__content">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat perferendis rerum enim voluptatum maiores
            corrupti eum earum! Earum dolor molestias consectetur reiciendis. Minima accusantium odit dignissimos quam
            quis eveniet hic porro dolor voluptas tempora, laboriosam beatae sequi quae eligendi earum atque voluptates
            architecto, pariatur minus odio cumque soluta laborum labore? Accusamus magni asperiores consectetur officia
            dicta.
          </p>
        </div>
      </div>
      <div class="faq-spoilers__item accordeons__item">
        <button type="button" class="faq-spoilers__button accordeons__item-button">
          <span>Могу ли я изменить условия действующего займа?</span>
        </button>
        <p class="faq-spoilers__content">
          Срочно понадобились деньги — оформление прошло быстро и без лишних
          сложностей. Регистрация простая и понятная, средства выдали
          оперативно. Если возникают вопросы, можно позвонить — специалисты
          вежливо проконсультируют и помогут разобраться. Погашение займа также
          удобно и прозрачно. В целом — понятный и комфортный сервис.
        </p>
      </div>
      <div class="faq-spoilers__item accordeons__item">
        <button type="button" class="faq-spoilers__button accordeons__item-button">
          <span>Есть ли возможность погасить займ досрочно и без процентов?</span>
        </button>
        <div class="faq-spoilers__content">
          Срочно понадобились деньги — оформление прошло быстро и без лишних
          сложностей. Регистрация простая и понятная, средства выдали
          оперативно. Если возникают вопросы, можно позвонить — специалисты
          вежливо проконсультируют и помогут разобраться. Погашение займа также
          удобно и прозрачно. В целом — понятный и комфортный сервис.
        </div>
      </div>
      <div class="faq-spoilers__item accordeons__item">
        <button type="button" class="faq-spoilers__button accordeons__item-button">
          <span>С чем связан рост популярности возвратного лизинга?</span>
        </button>
        <div class="faq-spoilers__content">
          Срочно понадобились деньги — оформление прошло быстро и без лишних
          сложностей. Регистрация простая и понятная, средства выдали
          оперативно. Если возникают вопросы, можно позвонить — специалисты
          вежливо проконсультируют и помогут разобраться. Погашение займа также
          удобно и прозрачно. В целом — понятный и комфортный сервис.
        </div>
      </div>
      <div class="faq-spoilers__item accordeons__item">
        <button type="button" class="faq-spoilers__button accordeons__item-button">
          <span>Появилась просрочка по кредиту. Можно ли что-то сделать?</span>
        </button>
        <div class="faq-spoilers__content">
          Срочно понадобились деньги — оформление прошло быстро и без лишних
          сложностей. Регистрация простая и понятная, средства выдали
          оперативно. Если возникают вопросы, можно позвонить — специалисты
          вежливо проконсультируют и помогут разобраться. Погашение займа также
          удобно и прозрачно. В целом — понятный и комфортный сервис.
        </div>
      </div>
      <div class="faq-spoilers__item accordeons__item">
        <button type="button" class="faq-spoilers__button accordeons__item-button">
          <span>При рефинансировании возможно увеличение суммы кредита?</span>
        </button>
        <div class="faq-spoilers__content">
          Срочно понадобились деньги — оформление прошло быстро и без лишних
          сложностей. Регистрация простая и понятная, средства выдали
          оперативно. Если возникают вопросы, можно позвонить — специалисты
          вежливо проконсультируют и помогут разобраться. Погашение займа также
          удобно и прозрачно. В целом — понятный и комфортный сервис.
        </div>
      </div>
      <div class="faq-spoilers__item accordeons__item">
        <button type="button" class="faq-spoilers__button accordeons__item-button">
          <span>Все ли кредиты можно рефинансировать?</span>
        </button>
        <div class="faq-spoilers__content">
          Срочно понадобились деньги — оформление прошло быстро и без лишних
          сложностей. Регистрация простая и понятная, средства выдали
          оперативно. Если возникают вопросы, можно позвонить — специалисты
          вежливо проконсультируют и помогут разобраться. Погашение займа также
          удобно и прозрачно. В целом — понятный и комфортный сервис.
        </div>
      </div>
      <div class="faq-spoilers__item accordeons__item">
        <button type="button" class="faq-spoilers__button accordeons__item-button">
          <span>Как выглядит процесс лизинга — приобретение предмета лизинга и
            дальнейшая его аренда?</span>
        </button>
        <div class="faq-spoilers__content">
          Срочно понадобились деньги — оформление прошло быстро и без лишних
          сложностей. Регистрация простая и понятная, средства выдали
          оперативно. Если возникают вопросы, можно позвонить — специалисты
          вежливо проконсультируют и помогут разобраться. Погашение займа также
          удобно и прозрачно. В целом — понятный и комфортный сервис.
        </div>
      </div>
    </div>
  </div>
  <div class="question">
    <div class="question__main">
      <img loading="lazy" src="img/faq/image.webp" alt="" />
      <div class="question__text">
        <span>Не нашли ответа на свой вопрос?</span><span>Свяжитесь с нами и предоставим необходиму информацию</span>
      </div>
    </div>
    <a href="" class="question__button button button-blue button-arrow">
      <span>Задать вопрос</span>
    </a>
  </div>
</section>