<div class="hero @@if(this.class){@@class}">
    <div class="hero__swiper swiper">

        <div class="swiper-wrapper">
            <div style="--first-shadow-color: #CE6F64; --second-shadow-color: #264783;" class="hero__slide swiper-slide">
                <div class="hero__body container">
                    <div class="hero__slide-info">
                        <p class="hero__slide-desc">выезд менеджера по всей РФ </p>
                        <h2 class="hero__slide-title">
                            Деньги <br />
                            под залог авто
                        </h2>
                        <ul class="hero__slide-list">
                            <li class="hero__slide-list-item">До 5 000 000 руб</li>
                            <li class="hero__slide-list-item">Решение за 15 минут</li>
                            <li class="hero__slide-list-item">Любая кредитная история</li>
                        </ul>
                    </div>
                    <button type="button" data-modal-open="modal_callback" class="hero__button button button-blue"><span>Получить деньги</span></button>
                </div>
                <video class="hero__video" src="./img/camry.webm" autoplay muted loop playsinline />
            </div>
            <div style="--first-shadow-color: #1C3055; --second-shadow-color: #253544;" class="hero__slide swiper-slide">
                <div class="hero__body container">
                    <div class="hero__slide-info">
                        <p class="hero__slide-desc">выезд менеджера по всей РФ</p>
                        <h2 class="hero__slide-title">
                            Рефинансирование <br> под ПТС
                        </h2>
                        <ul class="hero__slide-list">
                            <li class="hero__slide-list-item">Погасим займ на выгодных условиях</li>
                            <li class="hero__slide-list-item">Уменьшаем ставку по платежу </li>
                            <li class="hero__slide-list-item">Дополнительные деньги на любые цели</li>
                        </ul>
                    </div>
                    <button type="button" data-modal-open="modal_callback" class="hero__button button button-blue"><span>Получить деньги</span></button>
                </div>
                <video class="hero__video" src="./img/wallet.webm" autoplay muted loop playsinline />
            </div>
            <div style="--first-shadow-color: #CE6F64; --second-shadow-color: #264783;" class="hero__slide swiper-slide">
                <div class="hero__body container">
                    <div class="hero__slide-info">
                        <p class="hero__slide-desc">выезд менеджера по всей РФ </p>
                        <h2 class="hero__slide-title">
                            Деньги <br />
                            под залог авто
                        </h2>
                        <ul class="hero__slide-list">
                            <li class="hero__slide-list-item">До 5 000 000 руб</li>
                            <li class="hero__slide-list-item">Решение за 15 минут</li>
                            <li class="hero__slide-list-item">Любая кредитная история</li>
                        </ul>
                    </div>
                    <button type="button" data-modal-open="modal_callback" class="hero__button button button-blue"><span>Получить деньги</span></button>
                </div>
                <video class="hero__video" src="./img/camry.webm" autoplay muted loop playsinline />
            </div>
        </div>

        <div class="hero__pagination custom-pagination"></div>

        <div class="hero__navigation custom-navigation">
            <button type="button" class="hero__navigation-btn custom-navigation__btn custom-navigation__btn_prev"></button>
            <button type="button" class="hero__navigation-btn custom-navigation__btn custom-navigation__btn_next"></button>
        </div>
    </div>
</div>