<section class="loanreq tabs @@if(this.class){@@class}">
    <div class="loanreq__container container">
        <div class="loanreq__top">
            <h2 class="loanreq__title title">Условия получения займа</h2>
            <div class="loanreq__navigation tabs__navigation tabs-navigation">
                <div class="tabs-navigation__buttons">
                    <button type="button" class="tabs-navigation__button active">Деньги под ПТС</button>
                    <button type="button" class="tabs-navigation__button">Займ под авто</button>
                    <button type="button" class="tabs-navigation__button">Займ под залог ПТС</button>
                </div>
            </div>
        </div>
        <div class="loanreq__tabs">
            <div class="loanreq__tab tabs__tab loan-card active">
                <div class="loan-card__image">
                    <img loading="lazy" src="./img/loan-card.webp" alt="">
                </div>
                <div class="loan-card__content">
                    <h4 class="loan-card__title title">Документы для займа <br> под залог</h4>
                    <ul class="loan-card__list">
                        <li>Автомобили / мотоциклы категории А, B, С, Д</li>
                        <li>Авто в собственности</li>
                        <li>C арестами и ограничениями</li>
                        <li>Машина остаётся у вас</li>
                    </ul>
                    <button class="loan-card__button button button-blue">Оставить заявку</button>
                </div>
            </div>
            <div class="loanreq__tab tabs__tab loan-card">
                <div class="loan-card__image">
                    <img loading="lazy" src="./img/loan-card.webp" alt="">
                </div>
                <div class="loan-card__content">
                    <h4 class="loan-card__title title">Документы для займа <br> под залог</h4>
                    <ul class="loan-card__list">
                        <li>Автомобили / мотоциклы категории А, B, С, Д</li>
                        <li>Авто в собственности</li>
                        <li>C арестами и ограничениями</li>
                        <li>Машина остаётся у вас</li>
                    </ul>
                    <button class="loan-card__button button button-blue">Оставить заявку</button>
                </div>
            </div>
            <div class="loanreq__tab tabs__tab loan-card">
                <div class="loan-card__image">
                    <img loading="lazy" src="./img/loan-card.webp" alt="">
                </div>
                <div class="loan-card__content">
                    <h4 class="loan-card__title title">Документы для займа <br> под залог</h4>
                    <ul class="loan-card__list">
                        <li>Автомобили / мотоциклы категории А, B, С, Д</li>
                        <li>Авто в собственности</li>
                        <li>C арестами и ограничениями</li>
                        <li>Машина остаётся у вас</li>
                    </ul>
                    <button class="loan-card__button button button-blue">Оставить заявку</button>
                </div>
            </div>
        </div>
    </div>
</section>