<section class="programs @@if(this.class){@@class}">
    <div class="programs__container container">
        <div class="programs__top">
            <h2 class="programs__title title">Другие наши программы</h2>
            <div class="programs__navigation custom-navigation">
                <button type="button"
                    class="programs__navigation-btn custom-navigation__btn custom-navigation__btn_prev"></button>
                <button type="button"
                    class="programs__navigation-btn custom-navigation__btn custom-navigation__btn_next"></button>
            </div>
        </div>
        <div class="programs__swiper swiper">
            <div class="swiper-wrapper">
                <div class="programs__slide swiper-slide p-card">
                    <img loading="lazy" src="./img/programs/1.webp" alt="" class="p-card__image">
                    <h4 class="p-card__title"></h4>
                </div>
                <div class="programs__slide swiper-slide p-card">
                    <img loading="lazy" src="./img/programs/2.webp" alt="" class="p-card__image">
                    <h4 class="p-card__title">Займ под авто</h4>
                </div>
                <div class="programs__slide swiper-slide p-card">
                    <img loading="lazy" src="./img/programs/3.webp" alt="" class="p-card__image">
                    <h4 class="p-card__title">Займ под залог ПТС</h4>
                </div>
                <div class="programs__slide swiper-slide p-card">
                    <img loading="lazy" src="./img/programs/4.webp" alt="" class="p-card__image">
                    <h4 class="p-card__title">Рефинансирование</h4>
                </div>
                <div class="programs__slide swiper-slide p-card">
                    <img loading="lazy" src="./img/programs/1.webp" alt="" class="p-card__image">
                    <h4 class="p-card__title"></h4>
                </div>
            </div>
        </div>
        <p class="programs__desc">
            Работаем с физическими и юридическими лицами. Возможен кредит без залога и без сдачи авто. Машина остается у
            вас или стоит на стоянке.
        </p>
    </div>
</section>