<section class="special @@if(this.class){@@class}">
  <div class="special__container container">
    <div class="special__logos">
      <div class="special__logos-row">
        <img loading="lazy" src="img/special/tayota.webp" alt="" />
        <img loading="lazy" src="img/special/kia.webp" alt="" />
        <img loading="lazy" src="img/special/volkswagen.webp" alt="" />
        <img loading="lazy" src="img/special/audi.webp" alt="" />
        <img loading="lazy" src="img/special/bmw.webp" alt="" />
        <img loading="lazy" src="img/special/mercedes.webp" alt="" />
      </div>
      <div class="special__logos-row">
        <img loading="lazy" src="img/special/tayota.webp" alt="" />
        <img loading="lazy" src="img/special/kia.webp" alt="" />
        <img loading="lazy" src="img/special/volkswagen.webp" alt="" />
        <img loading="lazy" src="img/special/audi.webp" alt="" />
        <img loading="lazy" src="img/special/bmw.webp" alt="" />
        <img loading="lazy" src="img/special/mercedes.webp" alt="" />
      </div>
    </div>
    <h2 class="special__title">Специальное предложение для иномарок</h2>
    <p class="special__sub-title">
      Свяжитесь с нами и предоставим необходимую информацию
    </p>
    <a href="" class="special__button button button-blue"><span>Оставить заявку</span></a>
  </div>
</section>