@use 'lib' as *;

.reviews {
	overflow: hidden;
	
	.swiper {
		
		@include media("<=xs") {
			overflow: visible;
		}
	}

	&__body {}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 16px;
		flex-wrap: wrap;

		@include media("<=sm") {
			justify-content: center;
		}

		margin-bottom: fluid(48px, 24px);
	}

	&__title {
		display: block;
		gap: 16px;
		align-items: center;

		img {
			width: 32px;
			height: 32px;
			flex: 0 0 auto;
			display: inline-block;
			margin-right: 16px;
			line-height: 1.2;
			transform: translateY(4px);
		}

		span {
			font-weight: 600;
			font-size: 36px;

			line-height: 1.2;
			letter-spacing: -0.01em;
			color: #ffffff;
		}
	}

	&__buttons {
		display: inline-flex;
		gap: 16px;

		@include media("<=sm") {
			display: none;
		}
	}

	&__button {}
}