@use 'lib' as *;

.calc {

	&__bottom {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	&__submit.button {
		max-width: 100%;
	}

	&__success {
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;
		inset: 0;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all $transition;

		&.active {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}
	}

	&__body.container {
		box-sizing: border-box;
		padding: 40px;
		background: #0e1216;
		border: 1px solid #3b4650;
		border-radius: 16px;
		width: min(1240px, calc(100% - 16px * 2));
		position: relative;
		z-index: 1;
		overflow: hidden;

		@include media("<=xs") {
			padding: 0;
			border: none;
			border-radius: 0;
		}
	}

	&__grid-item {
		max-width: 365px;

		@include media("<=md") {
			max-width: none;
		}

		&>p {
			font-size: 14px;

			line-height: 20px;
			color: #6e7c89;
			margin-bottom: 8px;
		}

		&:has(> button) {
			align-self: end;
		}

		&_sum {
			@include media("<=md") {
				grid-row: 3 / auto;
			}
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 32px;
		max-width: 1160px;
		margin-bottom: 64px;

		@include media("<=md") {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media("<=xs") {
			grid-template-columns: 1fr;
			gap: 20px;
			margin-bottom: 20px;
		}
	}

	&__hero {
		h2 {
			margin-bottom: 20px;
			font-weight: 600;
			font-size: 36px;

			line-height: 40px;
			letter-spacing: -0.01em;

			color: #ffffff;

			@include media("<=xs") {
				margin-bottom: 24px;
			}
		}
	}

	&__item-summary {
		padding: 8px 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		font-weight: 600;
		font-size: 36px;

		line-height: 40px;

		text-align: right;
		letter-spacing: -0.01em;

		color: #e6f4ff;

		div {
			width: 44px;
			height: 44px;

			background: #1e252c;
			border-radius: 999px;
		}

		@include media("<=xs") {
			font-size: 28px;
			padding: 0 0 20px 0;
			border-bottom: 1px solid $colorNeutral6;
		}
	}
}