@use 'lib' as *;

.client {

	.swiper {
		overflow: visible;
	}

	&__body {}

	&__grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 32px;

		@include media("<=md") {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media("<=xs") {
			grid-template-columns: 1fr;
		}
	}

	&__grid-label {
		font-size: 12px;

		line-height: 18px;
		leading-trim: both;
		text-edge: cap;

		color: #6e7c89;
		margin-bottom: 8px;
	}

	&__grid-price {
		font-weight: 600;
		font-size: 20px;

		line-height: 28px;
		color: #ffffff;
		margin-bottom: 12px;
	}

	&__grid-sum {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 8px 24px;
		gap: 12px;
		border: 1px solid #3b4650;
		border-radius: 8px;
		font-weight: 500;
		font-size: 12px;

		line-height: 18px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #e9f0f5;
	}

	&__grid-item {
		padding: 8px;
		background: #1e252c;
		border-radius: 12px;

		@include media("<=sm") {
			min-height: 420px;
		}

		@include media("<=sm") {
			font-size: 1.1rem;

		}

		&.swiper-slide {
			display: flex;
			flex-direction: column;
			height: auto;
			gap: 16px;
		}

		img {
			object-fit: cover;
			aspect-ratio: 1/0.8;
			border-radius: 8px;
			width: 100%;
		}
	}

	&__grid-head {
		flex: 1 1 auto;

		h2 {
			font-weight: 600;
			font-size: 20px;

			line-height: 28px;

			color: #ffffff;
		}

		p {
			font-size: 12px;

			line-height: 18px;
			leading-trim: both;
			text-edge: cap;

			color: #ffffff;
		}
	}

	&__grid-footer {}

	&__hero {}

	&__hero-header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 48px;

		h2 {
			font-weight: 600;
			font-size: 36px;

			line-height: 40px;
			letter-spacing: -0.01em;
			color: #ffffff;
			display: flex;
			flex-direction: column;
		}
	}

	&__tab-btn {}

	&__tabs {
		@include media("<=sm") {
			display: none;
		}
	}
}