@use 'lib' as *;

.client {

	&__container {}

	&__top {
		display: flex;
		flex-direction: row;
		align-items: start;
		justify-content: space-between;
		margin-bottom: fluid(48px, 24px);
	}

	&__swiper.swiper {
		@include media("<=xs") {
			overflow: visible;
		}
	}

	&__navigation {
		@include media("<=xs") {
			display: none;
		}
	}

	&__title {
		font-size: 36px;
		font-weight: 600;
		line-height: 1.2;
	}

	&__item {
		padding: 8px;
		background: #1e252c;
		border-radius: 12px;
		display: flex;
		flex-direction: column;

		@include media("<=sm") {
			min-height: 420px;
		}

		@include media("<=sm") {
			font-size: 1.1rem;

		}

		&.swiper-slide {
			display: flex;
			height: auto;
		}
	}

	&__item-label {
		font-size: 12px;
		color: $colorNeutral4;
		margin-bottom: 8px;
	}

	&__item-price {
		font-weight: 600;
		font-size: 20px;

		line-height: 28px;
		color: #ffffff;
		margin-bottom: 12px;
	}

	&__item-sum {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 8px 24px;
		gap: 12px;
		border: 1px solid #3b4650;
		border-radius: 8px;
		font-weight: 500;
		font-size: 12px;

		line-height: 18px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #e9f0f5;
	}

	&__item-head {
		margin-bottom: 44px;
	}

	&__item-image {
		object-fit: cover;
		aspect-ratio: 1 / 0.8;
		border-radius: 8px;
		width: 100%;
		margin-bottom: 16px;
	}

	&__item-title {
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 4px;
	}

	&__item-desc {
		font-size: 12px;
	}
}