@use 'lib' as *;

.loan-card {
	$self: &;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border-radius: 12px;
	background: $colorNeutral6;
	gap: 32px;

	&_reverse {
		#{$self}__content {
			padding-right: 0;
			padding-left: 24px;

			@include media(">xs") {
				order: -1;
			}

			@include media("<=xs") {
				padding: 24px 16px;
			}
		}
	}

	&_insurance {
		grid-template-columns: 473px 1fr;

		#{$self}__list {
			margin-bottom: fluid(48px, 24px);
		}

		#{$self}__button {
			margin-top: auto;
		}
	}

	&_swiper {
		#{$self}__content {
			display: grid;
			grid-template-columns: 100%;
		}
	}

	@include media("<=xs") {
		grid-template-columns: 100%;
		gap: 0;
	}

	&__swiper.swiper {
		width: 100%;
		max-width: 100%;
		padding-bottom: 20px;
		margin-bottom: 32px;
		position: relative;
	}

	&__pagination {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	&__navigation.custom-navigation {
		position: absolute;
		bottom: 36px;
		right: 16px;
		z-index: 2;

		.custom-navigation__btn {
			background: $colorNeutral4;
			width: 36px;
			height: 36px;
		}

		@include media("<=xs") {
			display: none;
		}
	}

	&__slide {
		background: $colorNeutral5;
		padding: fluid(24px, 16px) fluid(24px, 16px) fluid(24px, 20px) fluid(24px, 16px);
		border-radius: 12px;
		padding-bottom: 78px;

		@include media("<=xs") {
			padding-bottom: fluid(24px, 20px);
		}
	}

	&__slide-title {
		font-size: fluid(28px, 20px);
		font-weight: 600;
		margin-bottom: 20px;
	}

	&__slide-list {
		padding-left: 24px;

		li {
			list-style: disc;
			color: $colorNeutral3;
		}
	}

	&__desc {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
		font-weight: 500;
		font-size: 12px;
		letter-spacing: 2px;
		color: $colorNeutral4;
		text-transform: uppercase;
		margin-bottom: 24px;

		@include media("<=xs") {
			display: none;
		}

		&::before {
			content: '';
			display: block;
			width: 24px;
			height: 24px;
			background: url("../img/icons/hot.svg");
			background-size: contain;
		}
	}

	&__slide-text {
		color: $colorNeutral3;
	}

	&__slides {
		display: flex;
		flex-direction: column;
		gap: fluid(32px, 24px);
		margin-bottom: fluid(32px, 24px);

		.loan-card__slide {
			padding-bottom: fluid(24px, 20px);
		}
	}

	&__text-more {
		margin-bottom: fluid(32px, 24px);

		&::after {
			background: linear-gradient(0deg, #1E252C 26.53%, rgba(30, 37, 44, 0) 100%);
		}
	}

	&__comment {
		margin-bottom: fluid(48px, 24px);
		font-size: 12px;
		padding: 16px;
		background: $colorNeutral5;
		border-radius: 12px;
		color: $colorNeutral3;
		width: fit-content;
	}

	&__text {
		display: flex;
		flex-direction: column;
		font-size: fluid(18px, 16px);
		margin-bottom: 24px;

		@include media("<=xs") {
			gap: 12px;
		}
	}

	&__image {
		border-radius: 12px;
		overflow: hidden;
		position: relative;

		img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@include media("<=xs") {
			width: 100%;
			aspect-ratio: 343 / 264;
		}
	}

	&__content {
		padding: 28px 0px;
		padding-right: 24px;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;

		@include media("<=xs") {
			padding: 24px 16px;
		}
	}

	&__title {
		font-size: fluid(28px, 20px);
		line-height: 1.2;
		margin-bottom: 20px;
		font-weight: 600;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 4px;
		color: $colorNeutral2;
		padding-left: 24px;

		li {
			list-style-type: disc;
		}

		@include media("<=xs") {
			gap: 12px;
		}
	}

	&:has(ol) ol.loan-card__list {
		list-style-type: decimal;

		li {
			list-style-type: decimal;
		}
	}

	&__button {
		margin-top: 24px;
		height: fit-content;
	}

}