@use 'lib' as *;

.main {
	$self: &;

	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: fluid(120px, 80px);
	margin-bottom: -220px;

	@include media("<=lg") {
		margin-bottom: 0;
	}

	&_page {
		padding-top: fluid(136px, 88px);
	}
}