@use 'lib' as *;

.tabs-navigation {
	$self: &;

	border-radius: 999px;
	max-width: 100%;
	width: fit-content;
	overflow-x: auto;

	// Прячем полосу прокрутки, оставляя возможность скролла
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}

	display: flex;
	flex-direction: row;
	gap: fluid(16px, 8px);

	&__buttons {
		display: flex;
		flex-direction: row;
		align-items: center;
		min-width: fit-content;
		background: $colorNeutral6;
		border-radius: 999px;
		width: 100%;
		padding: 4px;
		background: $colorNeutral6;
	}

	&__button {
		@include flex-center;

		flex: 1 1 auto;
		text-wrap: nowrap;
		padding: 12px 20px;
		border-radius: 999px;
		transition: all $transition;
		line-height: 150%;

		&.active {
			background: $colorBrand0;
			color: $colorNeutral7;
		}
	}

}