@use 'lib' as *;

.loan-hero {
	$self: &;

	&_second {

		#{$self}__image {
			min-height: 400px;

			@include media("<=xs") {
				min-height: 0;
			}
		}

	}

	&_audit {
		#{$self}__title {
			font-size: 36px;
		}
	}

	&_third {
		#{$self}__image {
			min-height: 400px;

			@include media("<=xs") {
				min-height: 0;
			}
		}

		#{$self}__text {
			grid-column: 1 / span 2;
			margin-top: fluid(88px, 48px);

			@include media("<=sm") {
				grid-column: 1 / span 1;
			}
		}
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 32px;
		align-items: center;

		@include media("<=sm") {
			grid-template-columns: 100%;
		}
	}

	&__info {}

	&__title {
		font-size: fluid(46px, 36px);
		font-weight: 600;
		margin-bottom: 20px;
		line-height: 1.2;
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: fluid(8px, 4px);
		margin-bottom: 28px;
		font-size: fluid(18px, 14px);
		font-family: "Inter";
		line-height: 190%;
	}

	&__button {}

	&__image {
		height: 100%;
		position: relative;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 40px;
			overflow: hidden;
			z-index: 1;
		}

		@include media("<=sm") {
			order: -1;
			width: 100%;
			height: auto;
			aspect-ratio: 342 / 202;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: -20px;
			left: 50%;
			transform: translateX(-50%);
			background: linear-gradient(273.47deg, #CE6F64 7.01%, #000000 41.73%, #264783 76.17%);
			width: 720px;
			height: 60px;
			filter: blur(120px);
			z-index: 0;

			@include media("<=xs") {
				display: none;
			}
		}
	}

}