@use 'lib' as *;

.loan {

	&__body {}

	&__title {
		font-weight: 600;
		font-size: 36px;

		line-height: 40px;
		letter-spacing: -0.01em;
		color: #ffffff;
		margin-bottom: 48px;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 32px;

		@include media("<=xlg") {
			grid-template-columns: repeat(3, 1fr);
		}

		@include media("<=sm") {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media("<=xs") {
			grid-template-columns: 1fr;
		}

		@include media("<=sm") {
			display: none;
		}
	}

	&__item {
		position: relative;
		aspect-ratio: 0.74/1;
		padding: 20px;
		border-radius: 12px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		overflow: hidden;
		border: 1px solid #3B4650;

		@include media("<=xs") {
			aspect-ratio: 1/0.55;
		}

		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(#000, 0.2);
			z-index: 2;
		}

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			z-index: 1;
		}

		span {
			font-weight: 600;
			font-size: 20px;

			line-height: 28px;
			color: #ffffff;
			z-index: 3;
			position: relative;
		}
	}
}

.services-section__header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	margin-bottom: 24px;
}

.services-section__grid {
	width: 100%;
	max-width: 1124px;
	margin: 0 auto;
}

.services-section__grid:not(.swiper-initialized) {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 16px;
}

.services-section__grid:not(.swiper-initialized) .services-section__wrapper {
	display: contents;
}

@include media("<=md") {
	.services-section__grid.swiper {
		display: block;
		overflow: hidden;
	}

	.services-section__wrapper.swiper-wrapper {
		display: flex;
	}

	.service-card.swiper-slide {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 266px;
		flex-shrink: 0;
	}

	.service-card.swiper-slide img {
		position: absolute;
		width: calc(100% + 12px);
		height: calc(100% + 12px);
		top: 0;
		left: 0;
		object-fit: cover;
		z-index: 1;
	}
}