@use 'lib' as *;

.calculator {
	$self: &;

	&__top {
		margin-bottom: 28px;

		@include media("<=xs") {
			margin-bottom: 32px;
		}
	}

	&__title {
		font-size: fluid(46px, 36px);
		font-weight: 600;
		margin-bottom: 28px;
	}

	&__navigation {
		
	}

	&__tabs {
		.calc {
			display: none;

			&.active {
				display: block;
			}
		}
	}

}
