@use 'lib' as *;

.pages {
	$self: &;

	&__container {

	}

	&__title {
		margin-bottom: fluid(48px, 24px);
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__list-item {
		opacity: 0.5;
		pointer-events: none;
		font-size: fluid(18px, 16px);

		&.is-active {
			opacity: 1;
			pointer-events: auto;
		}
	}

}
